.add-list-element{
  display: flex;
  align-items: center;
}

.add-list-element > * {
  margin-left: .5rem;
}

input[type="text"]{
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0.5rem;
  width: 35%;
  border-bottom: 1px solid transparent;
  opacity: .7;
}


input[type="text"]:focus{
  border-color: #333;
  opacity: 1;
}


.add-button{
  border-radius: 50%;
  background-color: #333;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: large;
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="date"]{
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  opacity: .7;
}

input[type="date"]:focus{
  border-color: #333;
  opacity: 1;
}
